@import "tailwindcss";

@theme {
  --color-page-bg: #fafafa;
  /* Brand */
  --color-brand-50: #f5f6fd;
  --color-brand-100: #e8ebfb;
  --color-brand-200: #d7daf8;
  --color-brand-300: #c0bff4;
  --color-brand-400: #776cef;
  --color-brand-500: #5547eb;
  --color-brand-600: #5a46e8;
  --color-brand-700: #4732d8;
  --color-brand-800: #3825b2;
  --color-brand-900: #2c1d8d;

  /* Grey */
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #384250;
  --color-grey-800: #1f2a37;
  --color-grey-900: #111827;

  /* Green */
  --color-green-50: #e9f9ef;
  --color-green-100: #baedcd;
  --color-green-200: #99e4b5;
  --color-green-300: #6bd893;
  --color-green-400: #4ed17e;
  --color-green-500: #22c55e;
  --color-green-600: #1fb356;
  --color-green-700: #188c43;
  --color-green-800: #136c34;
  --color-green-900: #0e5327;

  /* Fonts */
  --font-sans: "Space Grotesk", sans-serif;

  /* Text sizes */
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-h6: 18px;
  --text-subtitle1: 16px;
  --text-subtitle2: 14px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-caption: 12px;
  --text-overline: 12px;
}

@layer components {
  /* layout */
  .body {
    @apply flex h-screen overflow-hidden;
  }

  .content {
    @apply flex-1 overflow-y-auto bg-gray-100 pt-[88px] pb-6 px-4 lg:py-6 lg:ml-[280px] lg:px-12;
  }

  .content-grid {
    @apply grid grid-cols-1 gap-6 [@media(min-width:1240px)]:grid-cols-[17fr_9fr] [@media(min-width:1024px)]:gap-8 [@media(max-width:1240px)]:grid-cols-1;
  }

  .btn {
    @apply flex flex-row items-center cursor-pointer font-bold justify-center gap-1 rounded border border-grey-300 text-grey-800 bg-white px-3 py-1 hover:border-grey-400 transition-colors;
    @apply text-[13px] leading-[20px] font-[600];
    @apply disabled:border-grey-200 disabled:text-grey-600 disabled:cursor-default;
  }
  .primary-btn {
    @apply py-2 border-none bg-brand-500 text-white hover:bg-brand-700;
    @apply text-[16px] leading-[24px] font-[600];
    @apply disabled:bg-grey-200 disabled:text-grey-600 disabled:cursor-default;
  }

  /* sidebar */
  .sidebar {
    @apply fixed left-0 top-0 h-screen w-[280px] flex-col border-r border-grey-200 bg-white;
  }
  .sidebar-header {
    @apply flex items-center justify-between py-4 lg:py-2 px-4 bg-white border-b border-grey-200 lg:border-none;
  }
  .sidebar-nav {
    @apply flex flex-col p-4 gap-4 flex-1 overflow-y-auto;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .sidebar-nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .sidebar-link {
    @apply flex items-center gap-4 rounded-md py-1 pl-3 pr-2 transition-colors;
  }
  .sidebar-icon {
    @apply h-5 w-5;
  }
  .sidebar-section-title {
    @apply pl-3 mb-2;
  }
  .sidebar-bottom-links {
    @apply border-t pt-4 border-grey-200 flex flex-col gap-1;
  }
  .sidebar-footer {
    @apply flex items-center justify-between p-3 pl-4 border-t border-grey-200;
  }

  .collapsible-menu-toggle {
    @apply cursor-pointer flex w-full justify-between;
  }
  .collapsible-menu-link {
    @apply flex items-center border-l-2 justify-between py-1 pl-6 text-subtitle2 transition-colors border-l-grey-200 text-grey-800 hover:text-brand-500;
  }
  .collapsible-menu-link.active {
    @apply border-l-brand-500 text-brand-500 font-semibold;
  }

  /* input */

  .input {
    @apply w-full text-body2 rounded-sm border border-grey-300 bg-white px-3 placeholder:text-grey-500 transition-colors;
    @apply focus:border-brand-400 focus:outline-none focus:ring-1 focus:ring-brand-400/20;
  }
  .input-md {
    @apply text-body1 py-2;
  }
  .input[type="radio"] {
    @apply text-[16px];
  }

  /* toggle */

  .toggle-button {
    @apply flex flex-row gap-1 items-center cursor-pointer;
  }

  /* table */

  .basic-table {
    @apply mt-2 border border-grey-200 rounded grid grid-cols-[100px_repeat(4,minmax(0,1fr))] text-center text-sm overflow-hidden;
  }
  .cell-header {
    @apply bg-grey-100 py-2 px-3 text-left text-subtitle2 text-grey-500 border-b border-grey-200;
  }  
  .cell {
    @apply bg-grey-100 py-2 px-3 text-right text-subtitle2 text-grey-500 whitespace-nowrap;
  }

  /* card */

  .card {
    @apply flex flex-col gap-6 rounded-lg border border-grey-200 bg-white p-4 lg:p-6;
  }

  /* plan-label */

  .plan-label {
    @apply flex items-center gap-2;
  }

  /* select */

  .select {
    @apply cursor-pointer flex w-full items-center justify-between rounded-md border border-grey-300 bg-white px-3 py-[10px] text-left text-sm;
  }
  .select-options-box {
    @apply absolute z-10 w-full max-h-60 overflow-auto rounded-md border border-grey-200 bg-white shadow-md;
  }
  .select-option {
    @apply flex cursor-pointer items-center gap-2 px-3 py-2 text-sm;
  }
  .select-option:hover {
    @apply bg-brand-50 text-brand-600;
  }
  .select-option:disabled {
    @apply cursor-not-allowed opacity-50;
  }
  .select-hint {
    @apply mt-1 text-xs text-grey-500;
  }

  /* radio */

  .radio-input {
    @apply flex cursor-pointer items-center font-medium rounded p-3;
  }
  .radio-input-selected {
    @apply bg-brand-50 ring-2 ring-brand-500;
  }
  .radio-input-unselected {
    @apply ring-1 ring-grey-300 hover:bg-brand-50 hover:ring-brand-500;
  }

  .radio-circle {
    @apply border flex h-4 w-4 items-center justify-center rounded-full transition-colors;
  }
  .radio-circle-selected {
    @apply border-6 border-brand-500;
  }
  .radio-circle-unselected {
    @apply border border-grey-300;
  }

  .radio-label {
    @apply mx-2 text-subtitle1 text-grey-800;
  }

  .radio-badge {
    @apply border border-green-300 px-[6px] py-[2px] rounded bg-green-50 text-caption text-green-800;
  }

  /* product header */
  .product-header {
    @apply flex flex-row items-start gap-4;
  }

  /* slider */

  .slider-container {
    @apply w-full mt-10 relative;
  }
  .slider-tooltip {
    @apply bg-brand-500 absolute -top-[40px] whitespace-nowrap rounded px-2 py-1 text-body1 font-semibold text-white;
  }
  .slider-tooltip::after {
    content: url("/icons/slider-tooltip.svg");
    @apply absolute left-1/2;
    transform: translateX(-50%);
    top: 1px;
    z-index: -1;
  }
  .slider-track-container {
    @apply relative h-6 mt-10 mb-1 flex items-center;
  }
  .slider-track-background {
    @apply absolute w-full h-2 bg-gray-200 rounded-full;
  }
  .slider-track-progress {
    @apply absolute h-2 bg-brand-500 rounded-full;
  }
  .slider {
    @apply relative w-full appearance-none bg-transparent cursor-pointer z-10;
  }
  .slider::-webkit-slider-thumb {
    @apply appearance-none h-6 w-6 rounded-sm bg-white border border-brand-500;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/icons/thumb-icon.svg");
  }
  .slider::-moz-range-thumb {
    @apply h-6 w-6 rounded-sm bg-white border border-brand-500;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/icons/thumb-icon.svg");
  }

  /* order summary */

  .total-sum {
    @apply border-t border-grey-300 flex items-center justify-between pt-4;
  }
  .discount-box {
    @apply w-full flex flex-row gap-2 mt-3;
  }
}

@layer utilities {
  .text-h1 {
    @apply text-[48px] leading-[56px] font-[400] tracking-[-1px];
  }
  .text-h2 {
    @apply text-[40px] leading-[48px] font-[400] tracking-[-0.5px];
  }
  .text-h3 {
    @apply text-[32px] leading-[40px] font-[400];
  }
  .text-h4 {
    @apply text-[24px] leading-[32px] font-medium;
  }
  .text-h5 {
    @apply text-[20px] leading-[28px] font-[600];
  }
  .text-h6 {
    @apply text-[18px] leading-[24px] font-[600];
  }

  .text-subtitle1 {
    @apply text-[16px] leading-[24px] font-[600] tracking-[0.2px];
  }
  .text-subtitle2 {
    @apply text-[14px] leading-[20px] font-[500] tracking-[0.2px];
  }
  .text-body1 {
    @apply text-[16px] leading-[24px] font-[600];
  }
  .text-body2 {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .text-label {
    @apply text-[14px] leading-[20px] font-bold tracking-[0.2px];
  }

  .text-caption {
    @apply text-[12px] leading-[16px] font-[400] tracking-[0.2px];
  }

  .text-overline {
    @apply text-[12px] leading-[20px] font-medium tracking-[0.7px] uppercase;
  }
}
